<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="Babel Preferences"
            class="com.concur.plugin.babel.preferences.BabelPreferencePage"
            id="com.concur.plugin.babel.preferences.BabelPreferencePage">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.concur.plugin.babel.preferences.PreferenceInitializer">
      </initializer>
   </extension>

</plugin>
